<div class="page-header">
  <h1><%= @pantry_item.item.name %></h1>
</div>

<dl class="dl-horizontal">
  <dt>Expiration date</dt>
  <dd><%= @pantry_item.expiration_date %></dd>

  <dt>Purchase date</dt>
  <dd><%= @pantry_item.purchase_date %></dd>

  <dt>Days to Consume</dt>
  <dd><%= @pantry_item.consumption_speed %></dd>

  <dt>Recurring Item?</dt>
  <dd><%= @pantry_item.recurring ? "Yes" : "No" %></dd>

</dl>
