<div class="page-header">
  <h1>Items</h1>
</div>

<p><a href="/items/new" class="btn btn-primary">Add a New Item</a></p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Upc</th>
      <th>Name</th>
      <th>Description</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.upc %></td>
        <td><%= item.name %></td>
        <td><%= item.description %></td>
        <td><%= item.category_id %></td>
        <td>
          <a href="/items/<%= item.id %>" class="btn btn-primary">
            <i class="fa fa-search-plus"></i>
          </a>
        </td>
        <td>
          <a href="/items/<%= item.id %>/edit" class="btn btn-warning">
            <i class="fa fa-edit"></i>
          </a>
        </td>
        <td>
          <a href="/delete_item/<%= item.id %>" class="btn btn-danger">
            <i class="fa fa-trash-o"></i>
          </a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

